src/main/resources/META-INF/sitewhere-loadtest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sitewhere.com/schema/sitewhere/loadtest"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.sitewhere.com/schema/sitewhere/loadtest" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"/>

	<xsd:element name="load-test" type="loadTestType">
		<xsd:annotation>
			<xsd:documentation>
				Provides configuration information for a SiteWhere load test node
				instance.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="loadTestType">
		<xsd:all>
			<xsd:element name="connection" type="connectionType"/>
			<xsd:element name="agents" type="agentsType"/>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="connectionType">
		<xsd:annotation>
			<xsd:documentation>
				Contains information about the connection to SiteWhere.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sitewhere-server" type="siteWhereServerType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="siteWhereServerType">
		<xsd:annotation>
			<xsd:documentation>
				Contains information about a SiteWhere server instance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="restApiUrl" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>URL for accessing SiteWhere REST APIs.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="restApiUsername" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Username for accessing SiteWhere REST APIs.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="restApiPassword" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Password for accessing SiteWhere REST APIs.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="agentsType">
		<xsd:annotation>
			<xsd:documentation>
				Contains declarations for load test agents that will be used to
				generate traffic.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="abstract-agent" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Used as a placeholder for agents to allow substitutionGroups -->
	<xsd:element name="abstract-agent" abstract="true" type="abstractAgentType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for agent elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<!-- Common agent information -->
	<xsd:complexType name="abstractAgentType">
		<xsd:all>
			<xsd:element ref="abstract-device-chooser"/>
			<xsd:element ref="abstract-event-producer"/>
			<xsd:element ref="abstract-event-encoder"/>
		</xsd:all>
		<xsd:attribute name="agentId" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Unique agent id.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numThreads" type="substitutableInt" default="1">
			<xsd:annotation>
				<xsd:documentation>Numer of threads used by agent to generate traffic.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- Configuration data for an MQTT agent -->
	<xsd:element name="mqtt-agent" type="mqttAgentTYpe" substitutionGroup="abstract-agent">
		<xsd:annotation>
			<xsd:documentation>Agent that sends traffic via MQTT
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="mqttAgentTYpe">
		<xsd:complexContent>
			<xsd:extension base="abstractAgentType">
				<xsd:attribute name="hostname" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>MQTT broker hostname.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="port" type="substitutableInt">
					<xsd:annotation>
						<xsd:documentation>MQTT broker port.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="topic" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>MQTT topic to publish to.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Used as a placeholder for device choosers to allow substitutionGroups -->
	<xsd:element name="abstract-device-chooser" abstract="true"
		type="abstractDeviceChooserType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for device chooser elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="abstractDeviceChooserType">
	</xsd:complexType>

	<!-- Device chooser that pulls from a limited pool of devices that match criteria -->
	<xsd:element name="device-pool" type="devicePoolType" substitutionGroup="abstract-device-chooser">
		<xsd:annotation>
			<xsd:documentation>Chooses a pool of devices that will be used when generating load
				test traffic.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="devicePoolType">
		<xsd:complexContent>
			<xsd:extension base="abstractDeviceChooserType">
				<xsd:attribute name="poolSize" type="substitutableInt" use="required">
					<xsd:annotation>
						<xsd:documentation>Number of devices in pool.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="specificationToken" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Specification token for limiting devices in pool to a specific
							hardware configuration. If not specified, devices of all types are used.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Used as a placeholder for event producers to allow substitutionGroups -->
	<xsd:element name="abstract-event-producer" abstract="true"
		type="abstractEventProducerType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for event producer elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="abstractEventProducerType">
		<xsd:attribute name="alertRatio" type="substitutableInt" default="1">
			<xsd:annotation>
				<xsd:documentation>Indicates ratio of alerts to other event types.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="locationRatio" type="substitutableInt" default="1">
			<xsd:annotation>
				<xsd:documentation>Indicates ratio of locations to other event types.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="measurementsRatio" type="substitutableInt" default="1">
			<xsd:annotation>
				<xsd:documentation>Indicates ratio of measurements to other event types.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- Event producer that generates events at a linear rate -->
	<xsd:element name="linear-event-producer" type="linearEventProducerType"
		substitutionGroup="abstract-event-producer">
		<xsd:annotation>
			<xsd:documentation>Produces events at a linear rate.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="linearEventProducerType">
		<xsd:complexContent>
			<xsd:extension base="abstractEventProducerType">
				<xsd:attribute name="throttleDelayMs" type="substitutableInt" default="0">
					<xsd:annotation>
						<xsd:documentation>Number of milliseconds to wait between sending events.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Event producer that generates events at a linear rate -->
	<xsd:element name="progressive-event-producer" type="progressiveEventProducerType"
		substitutionGroup="abstract-event-producer">
		<xsd:annotation>
			<xsd:documentation>Produces events at a progressively faster or slower rate.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="progressiveEventProducerType">
		<xsd:complexContent>
			<xsd:extension base="abstractEventProducerType">
				<xsd:attribute name="initialThrottleDelayMs" type="substitutableInt"
					default="500">
					<xsd:annotation>
						<xsd:documentation>Number of milliseconds to wait between sending events at
							beginning of progression.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="finalThrottleDelayMs" type="substitutableInt"
					default="10">
					<xsd:annotation>
						<xsd:documentation>Number of milliseconds to wait between sending events at finish
							of progression.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="durationInSec" type="substitutableInt" default="60">
					<xsd:annotation>
						<xsd:documentation>Amount of time in seconds it take to progress from the initial
							throttle value to the final throttle value.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Used as a placeholder for event encoders to allow substitutionGroups -->
	<xsd:element name="abstract-event-encoder" abstract="true"
		type="abstractEventEncoderType">
		<xsd:annotation>
			<xsd:documentation>
				A placeholder for event encoder elements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<!-- Common event encoder information -->
	<xsd:complexType name="abstractEventEncoderType">
	</xsd:complexType>

	<!-- Event encoder that produces JSON output -->
	<xsd:element name="json-encoder" type="jsonEncoderType" substitutionGroup="abstract-event-encoder">
		<xsd:annotation>
			<xsd:documentation>Encodes events in Sitewhere JSON batch representation.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="jsonEncoderType">
		<xsd:complexContent>
			<xsd:extension base="abstractEventEncoderType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Event encoder that produces SiteWhere Google Protocol Buffer output -->
	<xsd:element name="protobuf-encoder" type="protobufEncoderType"
		substitutionGroup="abstract-event-encoder">
		<xsd:annotation>
			<xsd:documentation>Encodes events in SiteWhere Google Protocol Buffer format.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="protobufEncoderType">
		<xsd:complexContent>
			<xsd:extension base="abstractEventEncoderType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Defines property placeholder regular expression -->
	<xsd:simpleType name="propertyPlaceholderType">
		<xsd:annotation>
			<xsd:documentation>
				Defines string value restricted to a Spring property placeholder.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\$\{[^\}]+\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="substitutableInt">
		<xsd:annotation>
			<xsd:documentation>
				Value that can be an integer or a property placeholder value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="propertyPlaceholderType"/>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:int"/>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
</xsd:schema>